$primary: #233a59 !default;
$dark: #1b2a41 !default;
$table-bg: $dark !default;
$table-color: #ffffff !default;

$table-striped-bg: #2d3e5e !default;

$table-border-color: #50688c !default;

$table-hover-bg: darken($primary, 10%) !default;

$thead-bg: $primary !default;

@import "bootstrap/scss/bootstrap";
