<div class="d-flex">
  <app-menu></app-menu>
  <div class="flex-grow-1 p-5 text-white" style="font-family: 'Inter', sans-serif; background-color: #233a59;">
    <h1 class="text-light">Pedidos</h1>
    <div class="container-fluid p-0 mt-0">
      <!-- Spinner de carga -->
      <div *ngIf="cargando" class="d-flex justify-content-center">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>

      <!-- Tabla de pedidos -->
      <table *ngIf="!cargando" class="table table-dark table-bordered table-striped">
        <thead class="table-dark text-light">
        <tr>
          <th>#</th>
          <th>Código de Pedido</th>
          <th>Fecha de Pedido</th>
          <th>Nº de Productos</th>
          <th>Coste total</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="pedidos.length == 0">
          <td colspan="6">Aún no hay pedidos</td>
        </tr>
        <tr *ngFor="let pedido of pedidos; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ pedido.idPedido }}</td>
          <td>{{ pedido.fechaPedido.substring(0, 10) }}</td>
          <td>{{ pedido.productos.length }}</td>
          <td>{{ pedido.costeTotal }} €</td>
          <td class="container-sm d-flex justify-content-left">
            <!-- Botón Consultar con icono y color -->
            <button class="btn btn-sm me-1" (click)="consultarDetalles(pedido)" style="background-color: #426A8C; border: none;">
              <i class="bi bi-eye" style="color: #F2F2F2;"></i>
            </button>

            <!-- Botón Editar con icono y color -->
            <button class="btn btn-sm me-1" (click)="editarPedido(pedido)" style="background-color: #0D0D0D; border: none;">
              <i class="bi bi-pencil" style="color: #F2F2F2;"></i>
            </button>

            <!-- Botón Borrar con icono y color -->
            <button class="btn btn-sm me-1" (click)="abrirModalDelete(pedido)" style="background-color: #011640; border: none;">
              <i class="bi bi-trash" style="color: #F2F2F2;"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary rounded-circle shadow-lg position-fixed"
            style="bottom: 20px; right: 20px; width: 60px; height: 60px; font-size: 24px; background-color: #0D0D0D; border: none;"
            [style.backgroundColor]="botonColor"
            (click)="abrirModal()">
      +
    </button>
  </div>
</div>

<div #borrarModal class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar pedido</h5>
        <button type="button" class="btn-close" (click)="cerrarModalDelete()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro de que quieres borrar el pedido?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModalDelete()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="borrarPedido(nPedidoSeleccionado)">Borrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAgregarPedido" tabindex="-1" aria-labelledby="modalAgregarPedidoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarPedidoLabel">Agregar Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="pedidoForm" (ngSubmit)="guardarPedido()">
          <div class="mb-3">
            <label for="producto" class="form-label">Seleccionar Producto</label>
            <div class="d-flex gap-2">
              <select class="form-control" id="producto" formControlName="productoSeleccionadoId">
                <option *ngFor="let producto of productos" [value]="producto.idProducto">
                  {{ producto.nombre }} - {{ producto.precioUd | currency:'EUR' }}
                </option>
              </select>
              <input type="number" class="form-control" placeholder="Cantidad" formControlName="cantidadProducto" min="1" />
              <button type="button" class="btn btn-success" (click)="agregarProducto()">
                +
              </button>
            </div>
          </div>

          <!-- Lista de productos añadidos -->
          <div *ngIf="productosSeleccionados.length > 0">
            <h6 class="mt-3">Productos Seleccionados:</h6>
            <ul class="list-group">
              <li *ngFor="let producto of productosSeleccionados" class="list-group-item d-flex justify-content-between align-items-center">
                {{ producto.nombre }} - {{ producto.precioUd | currency:'EUR' }} (Cantidad: {{ producto.cantidad }})
                <button type="button" class="btn btn-danger btn-sm" (click)="eliminarProducto(producto.idProducto)">X</button>
              </li>
            </ul>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="productosSeleccionados.length === 0" (click)="guardarPedido()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditarPedido" tabindex="-1" aria-labelledby="modalEditarPedidoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarPedidoLabel">Editar Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="pedidoForm" (ngSubmit)="actualizarPedido()">
          <div class="mb-3">
            <label for="producto" class="form-label">Seleccionar Producto</label>
            <div class="d-flex gap-2">
              <select class="form-control" id="productoEditar" formControlName="productoSeleccionadoId">
                <option *ngFor="let producto of productos" [value]="producto.idProducto">
                  {{ producto.nombre }} - {{ producto.precioUd | currency:'EUR' }}
                </option>
              </select>
              <input type="number" class="form-control" placeholder="Cantidad" formControlName="cantidadProducto" min="1" />
              <button type="button" class="btn btn-success" (click)="agregarProductoEditado()">+</button>
            </div>
          </div>

          <!-- Lista de productos añadidos al pedido -->
          <div *ngIf="productosEditados.length > 0">
            <h6 class="mt-3">Productos en el Pedido:</h6>
            <ul class="list-group">
              <li *ngFor="let producto of productosEditados" class="list-group-item d-flex justify-content-between align-items-center">
                {{ producto.nombre }} - {{ producto.precioUd | currency:'EUR' }} (Cantidad: {{ producto.cantidad }})
                <button type="button" class="btn btn-danger btn-sm" (click)="eliminarProductoEditado(producto.idProducto)">X</button>
              </li>
            </ul>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="productosEditados.length === 0" (click)="actualizarPedido()">
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
