// Definir los colores en variables
$azul-claro: #426A8C;
$azul-oscuro: #011640;
$azul-medio: #233A59;

$table-header-color: $azul-oscuro;
$table-row-color: $azul-claro;
$table-row-hover-color: $azul-medio;

/* Sobrescribir la clase .table */
.table {
  background-color: #ADD8E6; /* Color azul claro para todas las tablas */
  border: 1px solid #4682B4; /* Bordes azul oscuro */
}

/* Modificar el estilo de las filas */
.table tbody tr {
  background-color: #ADD8E6; /* Azul claro */
  color: black; /* Color de texto negro */
}

/* Modificar el encabezado */
.table thead {
  background-color: #4682B4; /* Azul oscuro */
  color: white; /* Texto blanco */
}
